/* ==UserStyle==
@name           Clublog
@namespace      github.com/JA1UXV
@version        1.3.4
@description    Clublog Custom
@author         JA1UXV
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libertinus+Mono&family=Nova+Mono&family=Righteous&display=swap');

/* =========================
   Clublog Widget [Last 15 QSO]
========================= */
@-moz-document url-prefix("https://clublog.org/last10") {

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    table,
    th,
    td {
        background-color: transparent !important;
    }

    img[src*="https://cdn.clublog.org/images/clublog-2x.png"] {
        content: url("https://jo2kqj.jpn.org/material/clublog-transparent_ver1.png") !important;
    }

    table tr:first-child td:nth-child(n + 2) {
        background-color: #e21b1b !important;
        color: ivory !important;
        font-family: "Audiowide", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    table tr:first-child td:first-child,
    table tr:nth-child(2) {
        background-color: ivory !important;
    }

    table tr:nth-child(3) {
        background-color: transparent !important;
        color: khaki !important;
        font-family: "Righteous", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    table tr:nth-child(n + 4) {
        background-color: transparent !important;
        color: white !important;
        font-family: "Nova Mono", monospace !important;
        font-weight: 700 !important;
        font-style: normal !important;
    }

    @media (min-width: 1920px) {
        body {
            background: conic-gradient(from 180deg at 51.1% 50%, #379982 0.000deg, #519060 40.000deg, #6c7746 80.000deg, #885337 120.000deg, #a42833 160.000deg, #c1003b 200.000deg, #dc004e 240.000deg, #f6006b 280.000deg, #ff0090 320.000deg, #ff00b9 360.000deg) !important;
            transform: scale(2.64) !important;
            transform-origin: center center !important;
            margin: 0 !important;
        }
    }

    @media (max-width: 1680px) {
        body {
            background: conic-gradient(from 180deg at 51.3% 50%, #379982 0.000deg, #519060 40.000deg, #6c7746 80.000deg, #885337 120.000deg, #a42833 160.000deg, #c1003b 200.000deg, #dc004e 240.000deg, #f6006b 280.000deg, #ff0090 320.000deg, #ff00b9 360.000deg) !important;
            transform: scale(2.55) !important;
            transform-origin: center center !important;
            margin: 0 !important;
        }
    }
}

/* =========================
    clublog Livestream 
========================= */
@-moz-document url("https://clublog.org/livestream/JA1UXV"),
url("https://clublog.org/livestream/JO2KQJ") {

    * {
        color: black !important;
        font-family: "Libertinus Mono", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background: black !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    img[src*="https://cdn.clublog.org/images/clublog-black.png"] {
        content: url("https://jo2kqj.jpn.org/material/clublog-transparent_ver2.png") !important;
    }

    .contentTable {
        background: radial-gradient(circle at 70% 50%, gold, #e21b1b, white) !important;
    }

    table th {
        background-color: transparent !important;
    }

    .button,
    .tool-btn {
        background-color: transparent !important;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.77) !important;
            transform-origin: center center !important;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.53) !important;
            transform-origin: center center !important;
        }
    }
}
