/* ==UserStyle==
@name           Clublog Livestream
@namespace      github.com/JA1UXV
@version        1.0.6
@description    Clublog Livestream Design Change
@author         Me
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@-moz-document url-prefix("https://clublog.org/livestream/") {

    * {
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "ROND" 0;
        color: white;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
      background: linear-gradient(to bottom right, black, orange);
      display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.77, 1.80);
            transform-origin: center center;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.53, 1.72);
            transform-origin: center center;
        }
    }
}
