/* ==UserStyle==
@name           DXHeat
@namespace      github.com/JA1UXV
@version        1.0.2
@description    DXHeat Design Change
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@-moz-document domain("dxheat.com") {

*{
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  background: linear-gradient(#438eb9, white);
  color: black;
  overflow: hidden;
}

}
