/* ==UserStyle==
@name           Dxscape
@namespace      github.com/JA1UXV
@version        1.2.2
@description    DXSCAPE Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

@-moz-document domain("dxscape.com") {

    * {
        font-family: "Libertinus Mono", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background: linear-gradient(90deg, #cbffc4 0.000%, #cbffc4 20.000%, #fafade calc(20.000% + 1px), #fafade 40.000%, #ffd7f4 calc(40.000% + 1px), #ffd7f4 60.000%, #fca8fe calc(60.000% + 1px), #fca8fe 80.000%, #cc7ff5 calc(80.000% + 1px) 100.000%) !important;
        color: black !important;
        padding-left: 5px !important;
        line-height: 1.2 !important;
        overflow: hidden !important;
    }

    a {
        color: navy !important;
        text-decoration: none !important;
    }
}
