/* ==UserStyle==
@name           Dxscape
@namespace      github.com/JA1UXV
@version        1.2.6
@description    DXSCAPE Custom
@author         JA1UXV
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

@-moz-document domain("dxscape.com") {

    * {
        font-family: "Libertinus Mono", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        color: black !important;
        padding-left: 5px !important;
        line-height: 1.2 !important;
        overflow: hidden !important;
    }

    a {
        color: navy !important;
        text-decoration: none !important;
    }

    @media (min-width: 957px) {
        body {
            background: linear-gradient(90deg, yellow 0.000%, white 27.000%, lightskyblue calc(20.000% + 1px), white 42.000%, lightsalmon calc(40.000% + 1px), white 60.000%, aquamarine calc(60.000% + 1px), white 100.000%) !important;
            transform: scale(2.00) !important;
            transform-origin: left top !important;
        }
    }

    @media (max-width: 837px) {
        body {
            background: linear-gradient(90deg, yellow 0.000%, white 30.500%, lightskyblue calc(20.000% + 1px), white 48.500%, lightsalmon calc(40.000% + 1px), white 69.000%, aquamarine calc(60.000% + 1px), white 100.000%) !important;
            transform: scale(2.00) !important;
            transform-origin: left top !important;
        }
    }
}
