/* ==UserStyle==
@name           HRDLOG
@namespace      github.com/JA1UXV
@version        1.1.0
@description    HRDLOG Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@-moz-document domain("hrdlog.net") {

    * {
        font-family: "Zen Dots", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.15em;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background: linear-gradient(to bottom right, black, green, black) !important;
        color: ivory;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    tr td {
        padding-left: 9px;
        padding-right: 9px;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(2.37);
            transform-origin: center center;
            margin: -108px 0 0 0;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(2.31);
            transform-origin: center center;
            margin: -102px 0 0 0;
        }
    }
}
