/* ==UserStyle==
@name           QRZ.COM
@namespace      github.com/JA1UXV
@version        1.1.1
@description    QRZ.COM Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@-moz-document domain("qrz.com") {

    * {
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: ivory !important;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        background: linear-gradient(to bottom right, cyan, 33%, black) !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }

    .ttl {
        text-decoration: none;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.95);
            transform-origin: center center;
            margin: 0;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.91);
            transform-origin: center center;
            margin: 0;
        }
    }
}
