/* ==UserStyle==
@name           HamQTH
@namespace      github.com/JA1UXV
@version        1.2.2
@description    HamQTH Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Zen+Dots&display=swap');

@-moz-document domain("hamqth.com") {

    html,
    body {
        margin: 0;
    }

    body {
        background: linear-gradient(45deg, #1c0218 0.000%, #1c0218 20.000%, #500013 calc(20.000% + 1px), #500013 40.000%, #7a0923 calc(40.000% + 1px), #7a0923 60.000%, #982648 calc(60.000% + 1px), #982648 80.000%, #a9537f calc(80.000% + 1px) 100.000%) !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: silver;
        overflow: hidden;
    }

    h2 {
        font-size: 24px !important;
        color: snow !important;
        font-family: "Zen Dots", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    .col-sm-offset-4,
    .col-sm-2 {
        font-family: "Audiowide", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    .col-sm-11 {
        font-size: 24px !important;
        color: honeydew !important;
        letter-spacing: 0.05em !important;
        font-family: "Righteous", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    table th {
        color: azure !important;
        font-family: "Audiowide", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    table td {
        font-family: "IBM Plex Mono", monospace !important;
        font-weight: 700 !important;
        font-style: italic !important;
    }

    table tr:nth-child(odd) td {
        background-color: maroon !important;
        color: ivory !important;
    }

    table tr:nth-child(even) td {
        color: white !important;
    }

    a {
        color: lightyellow !important;
        text-decoration: none !important;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.5);
            transform-origin: 810px top;
            margin: 0;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.50);
            transform-origin: 690px top;
            margin: 0;
        }
    }
}
