/* ==UserStyle==
@name           Holy-Cluster
@namespace      github.com/JA1UXV
@version        1.2.1
@description    Holy Cluster Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

@-moz-document domain("holycluster.iarc.org") {

    * {
        font-family: "Gluten", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        overflow: hidden;
    }

    a {
        color: khaki;
        text-decoration: none;
    }
}
