/* ==UserStyle==
@name           Clublog
@namespace      github.com/JA1UXV
@version        1.0.6
@description    Clublog Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Libertinus+Mono&display=swap');

@-moz-document domain("clublog.org") {

    * {
        font-family: "Anta", sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.80) !important;
            transform-origin: center top !important;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.5) !important;
            transform-origin: center top !important;
        }
    }
}

/* =========================
      Livestream 専用
========================= */
@-moz-document url-prefix("https://clublog.org/livestream/") {

    * {
        font-family: "Libertinus Mono", monospace !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: white;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    body {
        background: linear-gradient(to bottom right, black, 77%, blue) !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden;
    }

    th {
        background-color: transparent !important;
    }

    .button {
        background-color: transparent !important;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.37) !important;
            transform-origin: center center !important;
            overflow: hidden;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.5) !important;
            transform-origin: 0 0 !important;
            overflow: hidden;
        }
    }
}
