/* ==UserStyle==
@name           Clublog
@namespace      github.com/JA1UXV
@version        1.0.0
@description    Clublog Custom
@author         JA1UXV
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Doto:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@-moz-document domain("clublog.org") {

    * {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
    }

    @media (min-width: 1920px) {
        body {
            transform: scale(1.80) !important;
            transform-origin: center top !important;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.5) !important;
            transform-origin: center top !important;
        }
    }
}

/* =========================
      Livestream 専用
========================= */

@-moz-document url-prefix("https://clublog.org/livestream/") {

    * {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
    }

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
}

    @media (min-width: 1920px) {
        body {
            transform: scale(1.36) !important;
            transform-origin: center center !important;
                overflow: hidden;
        }
    }

    @media (max-width: 1680px) {
        body {
            transform: scale(1.5) !important;
            transform-origin: 0 0 !important;
                overflow: hidden;
        }
    }
}
