/* ==UserStyle==
@name           Wavelog
@namespace      github.com/JA1UXV
@version        1.0.2
@description    Wavelog Custom
@author         JA1UXV
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Libertinus+Mono&display=swap');

@-moz-document domain("wavelog.jo2kqj.com") {

    body {
        background: #202020 !important;
    }

    table th {
        color: ivory !important;
        font-family: "Hachi Maru Pop", cursive !important;
        font-weight: 700 !important;
        font-style: normal !important;
    }

    tbody td {
        font-family: "Libertinus Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }
    
        tbody tr:nth-child(even) td {
        color: #e86233 !important;
    }

    tbody tr:nth-child(odd) td {
        color: #009fcf !important;
    }

    @media (min-width: 1920px) {
        body {
            margin: 30px 0 0 0;
        }
    }

    @media (max-width: 1680px) {
        body {
            margin: 6px 0 0 0;
        }
    }
}
