/* ==UserStyle==
@name           Wavelog
@namespace      github.com/JA1UXV
@version        1.0.7
@description    Wavelog Custom
@author         JA1UXV

==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Libertinus+Mono&display=swap');

@-moz-document domain("wavelog.ja1uxv.com"),
domain("wavelog.jo2kqj.com") {

    body {
        background: #202020 !important;
    }

    table th {
        /* color: #009fcf !important; */
        color: #009fcf !important;
        font-family: "Hachi Maru Pop", cursive !important;
        font-weight: 700 !important;
        font-style: normal !important;
    }

    tr:first-child th:nth-child(1) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(2) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(3) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(4) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(5) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(6) {
        font-size: 0px !important;
    }

    tr:first-child th:nth-child(1)::after {
        content: "Date";
        font-size: 36px;
    }

    tr:first-child th:nth-child(2)::after {
        content: "Callsign";
        font-size: 36px;
    }

    tr:first-child th:nth-child(3)::after {
        content: "Mode";
        font-size: 36px;
    }

    tr:first-child th:nth-child(4)::after {
        content: "Sent";
        font-size: 36px;
    }

    tr:first-child th:nth-child(5)::after {
        content: "Rcvd";
        font-size: 36px;
    }

    tr:first-child th:nth-child(6)::after {
        content: "Band";
        font-size: 36px;
    }

    tbody td {
        font-family: "Libertinus Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }

    tbody tr:nth-child(even) td {
        color: lightcoral !important;
    }

    tbody tr:nth-child(odd) td {
        color: palegreen !important;
    }
}
